body{
    background-color: aqua;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(196, 196, 196);
    justify-content: center;
}
/* a{
    display: flex;
    justify-content:space-evenly;
    width: 60vw;
    list-style: none;
    background-color: antiquewhite;
    margin-top: 0.5rem;
    text-align: center;

    
} */
ul > a{
    display: flex;
    justify-content:space-evenly;
    width: 60vw;
    list-style: none;
    background-color: rgb(209, 209, 208);
    margin: 0.5rem;
    text-align: center;
    flex: content;
}
nav{
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    list-style: none;
}
div , img{
   width: 99%;
   height: 99%;
   display: flex;
   justify-content: space-between;
   background-color: rgb(208, 208, 208);
    margin: 0.5rem;

}
.a3{
    justify-content: center;
}
.a3 >ul{
    display: flex;
    margin: 0.5rem;
    justify-content: center;
    list-style: none;
    width: 100%;
    height: 100%;
}

.a3 >ul>div{
    display: block;
    justify-content: center;
    text-align: center;  
    margin: 0.5rem ;
    font-size: x-large; 

}